@use "variables" as *;

.button {
  display: block;
  line-height: 18px;
  padding: 11px 44px;
  background-color: #68b738;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  width: 100%;
  border: none;

  &--more {
    color: #444444;
    padding: 11px;
    background-color: #f2f2f2;
  }
}
