@use "variables" as *;


.catalog {
  padding-top: 27px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.catalog__title {
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 0;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 163px;
    border: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
  }
}

.catalog__list {
  padding: 0;
  margin: 0 -20px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 60px;
    row-gap: 140px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 80px;
    row-gap: 143px;
  }
}

.catalog__item {
  margin: 0;
  padding: 20px 20px 25px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    padding: 0 37px 40px;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
  }
}

.catalog__item--more {
  padding: 25px auto;

  @media (min-width: $tablet-width) {
    padding: 0 40px 40px;
    background-color: #ffffff;
    border: solid 2px #f2f2f2;
  }
}
