@use "variables" as *;

.example {
  margin: 0;
  padding: 25px 0 35px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 43px 0 0 0;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
    padding: 69px 0 0 0;
  }
}

.example__box {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__container {
  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #f2f2f2;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.example__wrapper-info {
  @media (min-width: $tablet-width) {
    margin-bottom: 104px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-bottom: 75px;
  }
}

.example__title {
  padding: 0;
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0 0 63px 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 76px;
    margin: 0;
  }
}

.example__description {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0;
    width: 576px;
  }
}

.example__wrapper-cost {
  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
    gap: 47px;
    padding-left: 110px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  margin: 0 0 34px 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 366px;
  }
}

.example__item {
  position: relative;
  min-width: 124px;
  text-align: center;
  border: 1px solid #cfcfcf;
  border-radius: 5%;
  padding-top: 14px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    min-width: 162px;
  }
}

.example__index {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__data {
  padding: 0 15px;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eaeaea;
  font-family: $second-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
  overflow: hidden;
  max-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__cost {
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    line-height: 20px;
    justify-content: center;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 80px;
  }
}

.example__slider {
  display: flex;
  justify-content: center;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: #eaeaea;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__image {
  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.example__image--pro {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}

.example__image--slim {
  clip-path: polygon(50% 1%, 100% 0, 100% 100%, 50% 100%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.example__control {
  width: 4px;
  height: 256px;
  border-radius: 2px;
  border-color: #666666;
  background-color: #666666;
  z-index: 1;
  cursor: col-resize;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.example__control:hover {
  background-color: #68b738;
}

.example__control:hover .example__control-button::after {
  border-color: transparent transparent transparent #68b738;
}

.example__control:hover .example__control-button::before {
  border-color: transparent transparent transparent #68b738;
}

.example__control:hover .example__control-button {
  border: 2px solid #68b738;
}

.example__control:active {
  opacity: 0.6;
}

.example__control-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  color: inherit;
  border: 2px solid #666666;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: col-resize;
}

.example__control-button::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 6px;
  border-style: solid;
  border-width: 9px 0 9px 8px;
  border-color: transparent transparent transparent #666666;
}

.example__control-button::before {
  content: "";
  transform: rotate(180deg);
  right: auto;
  left: 6px;
  position: absolute;
  top: 25%;
  border-style: solid;
  border-width: 9px 0 9px 8px;
  border-color: transparent transparent transparent #666666;
}
