@use "variables" as *;

.extra {
  padding-bottom: 35px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 76px;
  }
}

.extra__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 36px;
  margin-top: 0;
  font-weight: 400;
  position: relative;
  background-color: #ffffff;
  width: 226px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 340px;
    margin-left: 37px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.extra__title::before {
  content: "";
  z-index: -1;
  width: 53px;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -74px;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    width: 328px;
    left: 375px;
  }

  @media (min-width: $desktop-width) {
    width: 1000px;
    left: 380px;
  }
}

.extra__title::after {
  @media (min-width: $tablet-width) {
    content: "";
    z-index: -1;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: -67px;
    transform: translateY(-50%);
    background-color: #68b738;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    left: -110px;
  }
}

.extra__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 80px;
  }
}

.extra__list {
  margin: 0 0 35px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-width) {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    border-left: 0;
    border-right: 0;
    margin-bottom: 0;
  }
}

.extra__item {
  padding: 13px 0 20px;
  border-bottom: 1px solid #cdcdcd;


  @media (min-width: $tablet-width) {
    padding: 26px 0 28px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    padding: 14px 0 16px;
  }
}

.extra__item:first-of-type {
  border-top: 1px solid #cdcdcd;
}


.extra__description {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 38px;
    padding-right: 38px;
  }

  @media (min-width: $desktop-width) {
    min-width: 567px;
    padding-left: 0;
    padding-right: 0;
  }
}

.extra__subtitle {
  padding: 0;
  margin: 0 0 13px 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: auto 0;
  }
}

.extra__table {
  font-family: $second-font;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #444444;
  margin-bottom: 15px;
  width: 100%;

  @media (min-width: $desktop-width) {
    margin: auto 0;
  }
}

.extra__row {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    column-gap: 50px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.extra__gift {
  padding: 60px 60px 48px 60px;
  background-image: url("../img/catalog/gift-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    padding: 63px 124px 57px 88px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 43px 42px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.extra__gift-image {
  display: block;
  margin: 0 auto 48px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.extra__gift-info {
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 160px;
    margin: 0;
    font-weight: 400;
  }
}

.extra__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-left: 38px;
    margin-right: 38px;
    max-width: 89%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin: 0;
  }
}
