@use "variables" as *;

.extra {
  padding-bottom: 35px;
  padding-top: 25px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 76px;
    padding-top: 65px;
  }
}

.extra__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 34px;
  margin-top: 0;
  font-weight: 400;
  background-color: #ffffff;
  padding-right: 21px;
  width: max-content;
  position: relative;
  margin-left: -20px;
  padding-left: 20px;
  max-width: 60%;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    padding: 0 36px 0 37px;
    position: static;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: -37px;
  }
}

.extra__title::before {
  content: "";
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  z-index: -1;
  left: 0;

  @media (min-width: $tablet-width) {
    top: 87px;
  }
}


.extra__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 80px;
  }
}

.extra__list {
  margin: 0 0 34px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-width) {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    border-left: 0;
    border-right: 0;
    margin-bottom: 0;
  }
}

.extra__item {
  padding: 13px 0 18px;
  border-bottom: 1px solid #cdcdcd;


  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    padding: 14px 0 16px;
  }
}

.extra__item:first-of-type {
  border-top: 1px solid #cdcdcd;
}


.extra__description {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 6.5px;
  }

  @media (min-width: $desktop-width) {
    min-width: 567px;
    padding-left: 0;
    padding-right: 0;
  }
}

.extra__subtitle {
  padding: 0;
  margin: 0 0 11px 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: auto 0;
  }
}

.extra__table {
  font-family: $second-font;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #444444;
  margin-bottom: 11px;
  width: 100%;

  @media (min-width: $desktop-width) {
    margin: auto 0;
  }
}

.extra__row {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    column-gap: 50px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.extra__gift {
  padding: 60px 59px 42px 59px;
  background-image: url("../img/catalog/gift-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog/gift-bg-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding: 60px 124px 60px 79px;
    display: flex;
    justify-content: space-between;
    background-position-y: 60%;
    background-image: url("../img/catalog/gift-bg-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/gift-bg-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 55px 43px 42px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/catalog/gift-bg-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/gift-bg-desktop@2x.png");
    }
  }
}

.extra__gift-image {
  display: block;
  margin: 0 auto 48px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.extra__gift-info {
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 165px;
    margin: 0;
    font-weight: 400;
    text-align: left;
    padding-top: 12px;
  }
}

.extra__button {
  min-width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    min-width: 632px;
  }

  @media (min-width: $desktop-width) {
    min-width: 0;
    width: 244px;
    margin: 0;
  }
}
