@use "variables" as *;

.form-field {
  padding-bottom: 24px;

  &--contact {
    padding-bottom: 0;
  }
}

.form__fild-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
  }
}

.form-field__container {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form-field__name {
  margin-right: 13px;

  &--contact {
    margin-right: 10px;
  }
}

.form-field__control {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  font-family: inherit;
}
