@use "variables" as *;

.form-field {
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 72px;
    border-bottom: none;
    margin-left: 40px;
    margin-right: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }

  &--contact {
    border-bottom: none;

    @media (min-width: $tablet-width) {
      padding: 0 40px 45px;
      margin: 0;
      position: relative;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 65px;
    }
  }
}

.form__fild-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
  }
}

.form-field__container {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 14px;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form-field__name {
  margin-right: 13px;
  flex-shrink: 0;

  &--contact {
    margin-right: 10px;
  }
}

.form-field__control {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  font-family: inherit;
  padding: 13px 20px 12px;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px 10px;
  }
}

.form-field__control--email {
  padding-right: 40px;
  background-image: url("../../img/form/mail.svg");
  background-repeat: no-repeat;
  background-position: top 50% right 17px;
}

.form-field__control--email:focus {
  background-image: url("../../img/form/mail-green.svg");
  background-size: 18px 13px;
}

.form-field__control--tel {
  padding-right: 40px;
  background-image: url("../../img/form/phone.svg");
  background-repeat: no-repeat;
  background-position: top 50% right 15px;
}

.form-field__control:hover {
  outline: 1px solid #cdcdcd;
  outline-offset: -1px;
}

.form-field__control:focus-visible {
  outline: 2px solid #444444;
  outline-offset: 0;
  transition: outline 0.05s;
}


.form-field__container-invalid .form-field__control--email {
  background-image: url("../../img/form/mail-red.svg");
}

.form-field__container-invalid .form-field__control {
  outline: 2px solid #ff8282;
  outline-offset: -2px;
}
