@use "variables" as *;

.form {
  padding-bottom: 58px;
  padding-top: 27px;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }
}

.form__title {
  margin: 0;
  padding: 25px 0 35px;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;

  &--contact {
    padding: 0 20px;
    position: absolute;
    width: 227px;
    top: -20px;
    left: 0;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      width: 554px;
      font-size: 36px;
      line-height: 36px;
      margin-left: 50px;
    }
  }

  &--textarea {
    padding: 0 20px;
    position: absolute;
    top: -20px;
    left: 0;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      width: 226px;
      font-size: 36px;
      line-height: 36px;
      margin-left: 50px;
    }
  }

  &--checkbox {
    padding: 0 20px;
    position: absolute;
    top: -20px;
    left: 0;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      width: 246px;
      font-size: 36px;
      line-height: 36px;
      margin-left: 50px;
    }
  }
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    column-gap: 80px;
    justify-content: space-between;
  }
}

.form__list {
  margin: 0;
  padding: 0;
}

.form__item {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

