@use "variables" as *;

.form-radio {
  padding-top: 20px;
  padding-bottom: 44px;
  border-bottom: 2px solid #65b738;
}

.form-radio__list {
  margin: 0;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 25px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border-bottom: 1px solid #d9d9d9;
}

.form-radio__field {
  position: relative;
  cursor: pointer;
}

.form-radio__field:focus-within .form-radio__mark::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 35px;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  border: 2px solid rgb(001, 049, 157);
  border-radius: 5px;
}


.form-radio__field:hover .form-radio__mark {
  border: 1px solid #bababa;
}


.form-radio__control:disabled + .form-radio__name {
  cursor: default;
  opacity: 0.3;
}

.form-radio__control:disabled + .form-radio__name + .form-radio__mark {
  border: none;
  cursor: default;
}

.form-radio__control[type="radio"]:checked + .form-radio__name::before {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}

.form-radio__mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.form-radio__item {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.form-radio__name {
  padding-left: 45px;
}

.form-radio__control {
  margin-right: 15px;
}
