@use "variables" as *;

.form {
  padding-bottom: 32px;
}

.form__title {
  margin: 0;
  padding: 25px 0 35px;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
}

.form__wrapper {
  @media (min-width: $desktop-width){
    width: 100%;
    display: flex;
    column-gap: 80px;
    justify-content: space-between;
  }
}

.form__list {
  margin: 0;
  padding: 0;
}

.form__item {
  @media (min-width: $desktop-width){
    width: 100%;
  }
}
