@use "variables" as *;

.form-checkbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.form-checkbox__control {
  padding-right: 16px;
}
