@use "variables" as *;

.form-radio {
  margin: 0 -20px 26px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 75px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
    margin-bottom: 71px;
  }
}

.form-radio__list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding: 27px 20px 24px;

  @media (min-width: $tablet-width) {
    border: 1px solid #d9d9d9;
    padding-top: 30px;
    padding-left: 8px;
    padding-bottom: 29px;
    margin-left: 60px;
    margin-right: 60px;
    row-gap: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.form-radio__field {
  position: relative;
  cursor: pointer;
  display: flex;
}

.form-radio__control:focus + .form-radio__name + .form-radio__mark::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  border: 2px solid rgb(001, 049, 157);
  border-radius: 5px;
  z-index: 100;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
  }
}

.form-radio__field:hover .form-radio__mark {
  border: 1px solid #bababa;
}


.form-radio__control:disabled + .form-radio__name {
  cursor: default;
  opacity: 0.3;
}

.form-radio__control:disabled + .form-radio__name + .form-radio__mark {
  opacity: 0.3;
  cursor: default;
  border: 1px solid #cdcdcd;
}

.form-radio__control[type="radio"]:checked + .form-radio__name::before {
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: 31px;
  }
}

.form-radio__mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: 20px;
  }
}

.form-radio__item {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.form-radio__name {
  padding-left: 45px;
  max-width: 85%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 80px;
  }
}

.form-radio__control {
  margin-right: 15px;
}
