@use "variables" as *;

.main-footer {
  background-color: #f2f2f2;
  padding: 14px 0 20px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 67px;
  }
}

.main-footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo-link {
  display: block;
  padding: 25px 0 15px;
  padding-right: 3px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;


  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 4px;
    text-align: center;
    width: 143px;
    height: 28px;
    border: none;
  }
}

.main-footer__svg {
  transition: opacity 0.3s;

  @media (min-width: $tablet-width) {
    width: 143px;
    height: 28px;
  }
}

.main-footer__logo-link:hover .main-footer__svg {
  opacity: 0.8;
}

.main-footer__logo-link:active .main-footer__svg {
  opacity: 0.6;
}

.main-footer__social {
  display: flex;
  column-gap: 25px;
  align-items: center;
  padding: 20px 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 140px;
    padding: 0;
    padding-left: 14px;
    padding-top: 3px;
  }
}

.social__link {
  display: flex;
}

.main-footer__developer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 30px 0 20px;
  font-family: $second-font;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  transition: opacity 0.2s;


  @media (min-width: $tablet-width) {
    min-width: 168px;
    padding: 0;
    border: none;
    padding-top: 7px;
  }
}

.main-footer__developer-name {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 90%;
}

.main-footer__developer::after {
  transition: background-color 0.2s, opacity 0.2s;
  content: "";
  position: absolute;
  width: 27px;
  height: 34px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #666666;
  mask: url("../../img/stake.svg#academy") no-repeat 50% 50%;

  @media (min-width: $tablet-width) {
    top: 65%;
  }
}


.main-footer__developer:hover::after {
  background-color: #68b738;
}

.main-footer__developer:active::after {
  opacity: 0.56;
}
