@use "variables" as *;

.main-footer {
  padding: 20px 0;
}

.main-footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__logo-link {
  display: block;
  padding: 20px 0;
  text-align: center;
}

.main-footer__social {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    min-width: 132px;
  }
}

.main-footer__developer {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 20px 0;
  font-family: $second-font;
  font-size: 16px;
  line-height: 19px;
  color: #444444;

  @media (min-width: $tablet-width) {
    min-width: 168px;
  }
}

.main-footer__developer-name {
  display: block;
  padding: 0;
  margin: 0;
}
