@use "variables" as *;

.main-nav {
  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    min-width: 440px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    min-width: 478px;
    justify-content: space-between;
  }
}

.main-nav__item {
  list-style-type: none;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 20px;
}

.main-nav__link {
  text-decoration: none;
  color: #000000;

  &--index {
    @media (min-width: $desktop-width) {
      color: #ffffff;
    }
  }
}
