@use "variables" as *;

.main-nav {
  @media (min-width: $desktop-width) {
    z-index: 1;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    min-width: 440px;
    max-width: 532px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: 1032px;
  }
}

.main-nav__item {
  list-style-type: none;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 20px;
  border-top: 1px solid #e6e6e6;
  transition: opacity 0.2s;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-top: 18px;
    padding-bottom: 12px;
    border-top: none;
    max-width: 171px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__item:hover {
  opacity: 0.6;
}

.main-nav__item:active {
  opacity: 0.3;
}


.main-nav__link {
  text-decoration: none;
  color: #000000;

  &--index {
    @media (min-width: $desktop-width) {
      color: #ffffff;
    }
  }
}

.main-nav__link--current {
  position: relative;
}

.main-nav__link--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
}

.main-nav__item--white-bord .main-nav__link--current::after {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid #ffffff;
  }
}
