@use "variables" as *;

.map {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 110px 565px auto;
    grid-template-rows: 95px auto auto;
  }
}

.map__address {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.71%;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    z-index: 1;
    width: 565px;
    background-color: #ffffff;
  }

  &--tablet-form {
    @media (min-width: $tablet-width) {
      padding: 60px 70px;
    }
  }

  &--pink {
    background-color: #f2f2f2;

    @media (min-width: $desktop-width) {
      background-color: #ffffff;
    }
  }
}

.map__invite {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
    padding-top: 5px;
  }
}

.map__wrapper {
  @media (min-width: $tablet-width) {
    width: 170px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

}

.map__description {
  margin: 0;
  padding: 0;
  font-family: $second-font;
  font-size: 14px;
  line-height: 20px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.map__yandex {
  @media (min-width: $desktop-width) {
    position: relative;
    height: 100%;
  }
}

.map__interactive {
  border: none;
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
    height: 100%;
  }
}

.map__view {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
  }
}
