@use "variables" as *;

.map__address {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.71%;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    margin-left: 110px;
    margin-top: 90px;
    column-gap: 85px;
  }

  &--tablet-form {
    padding: 0 70px;
  }
}

.map__invite {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    font-size: 20px;
    line-height: 26px;
  }
}

.map__wrapper {
  @media (min-width: $tablet-width) {
    max-width: 170px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.map__description {
  margin: 0;
  padding: 0;
  font-family: $second-font;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.map__yandex {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.map__interactive {
  border: none;
  display: block;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}
