@use "variables" as *;

.page {
  background-color: $color-white;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  padding: 0;
  margin: 0;
}

.page__body {
  margin: 0;

  /*@media (min-width: $desktop-width) {
    position: relative;
  }*/
}

.page__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 37px 0;
  font-weight: 400;

  &--form {
    @media (min-width: $tablet-width) {
      padding: 0;
      font-weight: 400;
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 54px;
      margin-left: 40px;
      margin-right: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.page__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 0 39px 0;
  width: 226px;

  &--form {
    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
      width: 323px;
      margin-bottom: 66px;
      margin-left: 40px;
      margin-right: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }
}
