@use "variables" as *;

.product__container {
  display: flex;
  justify-content: center;
  width: 100%;

  &--more {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.product__image-link {
  display: block;
  width: 100%;
  align-self: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.product__image {
  &--more {
    display: block;
    margin: 0 auto 23px;
  }
}

.product__description {
  width: 100%;
}

.product__title {
  padding: 0;
  margin: 0 0 18px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  width: 76px;

  &--more {
    margin: 0 0 8px 0;
    text-align: center;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.product__table {
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  padding: 0;
  margin: 0 0 20px 0;
  text-align: left;
  width: 100%;
}

.product__row {
  display: flex;
  justify-content: space-between;
  height: 14px;
}

.product__link {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.product__add {
  display: block;
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 20px 0;
  text-align: center;
}
