@use "variables" as *;

.product__container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;

  &--more {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    position: relative;
  }
}

.product__image--more {
  align-self: center;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product__image-link {
  display: block;
  width: 100%;
  align-self: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: center;
    position: absolute;
    top: -50px;
  }

  &--big {
    @media (min-width: $tablet-width) {
      text-align: center;
      position: absolute;
      top: -73px;
    }
  }
}


.product__description {
  width: 100%;
}

.product__title {
  padding: 0;
  margin: 0 0 12px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  width: 76px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-top: 161px;
    margin: 0 auto 13px;
    font-size: 20px;
    line-height: 24px;
    width: 154px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 4px;
  }
}

.product__title--more {
  margin: 0 0 8px 0;
  text-align: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-top: 161px;
    margin: 0 auto 13px;
    width: 134px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 157px;
    padding-left: 2px;
    margin-bottom: 15px;
    width: 154px;
  }
}

.product__title--more::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 82px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 2px;
    background-color: #d3d3d3;
  }
}

.product__title--more::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    transform: translateX(-50%) rotate(90deg);
    top: 82px;
    left: 50%;
    right: 92px;
    width: 60px;
    height: 2px;
    background-color: #d3d3d3;
  }
}

.product__table {
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  padding: 0;
  margin: 0 0 8px 0;
  text-align: left;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 18.5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.product__row {
  display: flex;
  justify-content: space-between;
  height: auto;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    height: auto;
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #cdcdcd;
    text-align: center;
  }
}

.product__image--500 {
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 173px;
    padding: 0;
  }
}

.product__image--1000 {
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 203px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.product__link {
  margin: 0 auto;
  padding: 11px 40px 11px 40px;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 11px 35px;
  }
}

.product__add {
  display: block;
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 10px 0;
  text-align: center;
  color: #444444;


  &--more {
    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 18px;
      margin: 5px auto;
      margin-bottom: 75px;
      font-weight: 400;
      width: 165px;
    }
  }
}
