@use "variables" as *;

.program {
  padding: 0;
  margin: 0 0 20px 0;
}

.program__list {
  padding: 0;
  padding-top: 20px;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.program__item {
  background-color: #f2f2f2;
  padding: 30px 20px 22px 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 61px 57px 52px;
  }

  &--slim {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.program__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  padding-left: 71px;
  position: relative;
  max-width: 75%;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 2px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
    max-width: 100%;
  }
}

.program__title--pro {
  @media (max-width: $desktop-width) {
    max-width: 100%;
  }
}

.program__title--slim::before {
  content: "";
  position: absolute;
  background-image: url("../img/index/program-slimming.svg");
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  width: 50px;
  height: 53px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 100px;
    height: 106px;
    background-position: center;
    background-size: cover;
  }
}

.program__title--pro::before {
  content: "";
  position: absolute;
  background-image: url("../img/index/program-fattening.svg");
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: -7px;
  width: 67px;
  height: 53px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 134px;
    height: 100px;
    background-position: center;
    background-size: cover;
  }
}

.program__description {
  margin: 0 0 19px 0;
  padding-bottom: 21px;
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 101%;
    padding-right: 262px;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    border: none;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 27px;
  }
}

.program__description--slim::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../img/index/program-slimming.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 41%;
    transform: translateY(-50%);
    right: 7px;
    width: 201px;
    height: 212px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.program__description--pro::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../img/index/program-fattening.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 46%;
    transform: translateY(-50%);
    right: -26px;
    width: 269px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.program__link {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  min-width: 139px;
  display: flex;
  justify-content: flex-start;
  column-gap: 15px;
  align-items: center;
  transition: opacity 0.2s;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 60%;
    column-gap: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.program__link::after {
  content: "";
  background-image: url("../img/index/arrow-small.svg");
  background-repeat: no-repeat;
  width: 125px;
  height: 12px;
  gap: 25px;
}

.program__link:hover::after {
  content: "";
  background-image: url("../img/index/arrow-medium.svg");
  background-repeat: no-repeat;
  width: 125px;
  height: 12px;
  gap: 25px;
}

.program__link:active {
  opacity: 0.3;
}
