@use "variables" as *;

.program {
  padding: 0;
  margin: 0 0 20px 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.program__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.program__item {
  padding: 30px 33px 20px 20px;

  &--slim {
    margin-bottom: 20px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.program__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  padding-left: 70px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
  }
}

.program__title--slim::before {
  content: "";
  position: absolute;
  background-image: url("../../img/index/program-slimming.svg");
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 50px;
  height: 53px;
}

.program__title--pro::before {
  content: "";
  position: absolute;
  background-image: url("../../img/index/program-fattening.svg");
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: -7px;
  width: 67px;
  height: 53px;
}

.program__description {
  margin: 0 0 20px 0;
  padding-bottom: 23px;
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #D9D9D9;

  @media (min-width: $tablet-width) {
    width: 56%;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.program__link {
  display: block;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
}
