@use "variables" as *;

.promo {
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: cover;
  padding-top: 26px;
  position: relative;

  @media (min-width: $tablet-width) {
    background-image: none;
    color: #000000;
    padding-top: 62px;
    padding-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
    padding-bottom: 70px;
    background-size: 50%;
    color: #000000;
    margin-bottom: 97px;
    position: static;
  }
}

.promo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 301px;
  background-image: url("../img/index/background-cat.png");
  background-color: #64a43c;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/background-cat@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    background-size: cover;
    display: inline;
    transform: none;
    right: 0;
    background-image: url("../img/index/background-cat-desktop.png");
    width: 50%;
    height: 694px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/background-cat-desktop@2x.png");
      background-size: 100% auto;
    }
  }
}

.promo__box {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 495px 580px;
    grid-template-rows: 160px 72px auto 100px;
  }
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 0;
  padding-left: 1px;
  margin: 0 0 25px 0;
  color: $color-white;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: left;
    padding-left: 12.3%;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    width: 71%;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px 0;
    padding-left: 78px;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: self-end;
  }
}

.promo__slogan {
  line-height: 14px;
  font-size: 14px;
  margin: 0 0 29px 0;
  padding: 0;
  padding-right: 1px;
  text-transform: uppercase;
  color: $color-white;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: left;
    padding-left: 12.6%;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-left: 78px;
  }
}

.promo__product-image {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    z-index: 0;
    position: static;
    transform: none;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    margin-top: -82px;
    margin-left: -45px;
    width: 552px;
    height: 499px;
  }
}

.promo__link {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 245px;
    margin: 0;
    margin-left: 12.8%;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 5px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 17px 5px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-left: 80px;
  }
}
