@use "variables" as *;

.promo {
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    padding-top: 450px;
    background-image: url("/img/index/background-cat.png");
    background-position: right;
    background-size: 50%;
    background-repeat: no-repeat;
  }
}

.promo__header {
  text-align: center;
  background-image: url("/img/index/background-cat.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 27px;
  padding-bottom: 132px;
  margin-bottom: 138px;

  @media (min-width: $tablet-width) {
    background-image: none;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0 35px 25px 35px;
  padding: 0;
  color: $color-white;

  @media (min-width: $tablet-width) {
    color: #000000;
    position: absolute;
    top: 0;
    left: 20%;
  }

  @media (min-width: $desktop-width) {
    left: 190px;
    top: -290px;
  }
}

.promo__slogan {
  line-height: 14px;
  margin: 0 0 30px 0;
  padding: 0;
  text-transform: uppercase;
  color: $color-white;

  @media (min-width: $tablet-width) {
    color: #000000;
    position: absolute;
    top: 35%;
    left: 23%;
  }

  @media (min-width: $desktop-width) {
    left: 230px;
    top: -220px;
  }
}

.promo__product-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    top: 80px;
  }

  @media (min-width: $desktop-width) {
    left: 60%;
    top: -320px;
  }
}

.promo__link {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 200px;
    left: 22%;
    width: 245px;
  }

  @media (min-width: $desktop-width) {
    left: 230px;
    top: 320px;
    width: 245px;
    padding: 18px 44px;
  }
}
