@use "variables" as *;

.social {
  width: 130px;
  list-style-type: none;
  transition: fill 2s, opacity 0.2s;

  @media (min-width: $tablet-width) {
    width: 132px;
  }
}

.social__item {
  position: relative;
  width: 40px;
  height: 20px;
}

.social__link--vkontakte::after {
  transition: background-color 0.2s, opacity 0.2s;
  content: "";
  position: absolute;
  width: 29px;
  height: 22px;
  top: 0;
  background-color: #666666;
  mask: url("../../img/stake.svg#vk") no-repeat 50% 50%;

  @media (min-width: $tablet-width) {
    left: -4px;
    top: 2px;
  }
}

.social__link--vkontakte:hover::after {
  background-color: #68b738;
}

.social__link--vkontakte:active::after {
  opacity: 0.56;
}

.social__link--vkontakte:focus::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 33px;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(001, 049, 157);
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    top: 60%;
  }
}

.social__link--youtube::after {
  transition: background-color 0.2s, opacity 0.2s;
  content: "";
  position: absolute;
  width: 25px;
  height: 19px;
  top: 2px;
  background-color: #666666;
  mask: url("../../img/stake.svg#youtube") no-repeat 50% 50%;

  @media (min-width: $tablet-width) {
    left: 4px;
    top: 4px;
  }
}

.social__link--youtube:hover::after {
  background-color: #68b738;
}

.social__link--youtube:active::after {
  opacity: 0.56;
}

.social__link--youtube:focus::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(001, 049, 157);
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    left: 70%;
    top: 60%;
  }
}

.social__link--telegramm::after {
  transition: background-color 0.2s, opacity 0.2s;
  content: "";
  position: absolute;
  width: 21px;
  height: 19px;
  top: 2px;
  left: 4px;
  background-color: #666666;
  mask: url("../../img/stake.svg#telegramm") no-repeat 50% 50%;

  @media (min-width: $tablet-width) {
    left: 10px;
    top: 4px;
  }
}

.social__link--telegramm:hover::after {
  background-color: #68b738;
}

.social__link--telegramm:active::after {
  opacity: 0.56;
}

.social__link--telegramm:focus::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(001, 049, 157);
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    left: 90%;
    top: 60%;
  }
}
