.button {
  display: block;
  line-height: 18px;
  padding: 7px 44px;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  padding-top: 11px;
  padding-bottom: 11px;

  &--more {
    background-color: #ffffff;
    color: #444444;
  }
}
