.program {
  padding: 0;
  margin: 0 0 20px 0;

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item {
    padding: 30px 33px 18px 20px;

    &--slim {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    margin: 0 0 30px 70px;
  }

  &__description {
    margin: 0 0 38px 0;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
  }

  a {
    display: block;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
  }
}
