@use "fonts.scss";
@use "page.scss";
@use "main-header.scss";
@use "logo.scss";
@use "main-nav.scss";
@use "site-list.scss";
@use "promo.scss";
@use "program.scss";
@use "advantages.scss";
@use "example.scss";
@use "map.scss";
@use "catalog.scss";
@use "product.scss";
@use "extra.scss";
@use "form.scss";
@use "form-field.scss";
@use "form-radio.scss";
@use "form-checkbox.scss";
@use "form-textarea.scss";
@use "main-footer.scss";
@use "social.scss";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
